{% comment %}
    Renders the spoties cover field for a product

    Accepts:
    - product: {Object} Product Liquid object

    Usage:
    {% render 'spoties-cover-field' product: product %}
{% endcomment %}

<spoties-cover-field>
    <input
        type="file"
        id="spoties-cover-upload"
        accept="image/png, image/jpeg"
    >
    <div class="spoties__option">
        <label for="spoties-cover-upload">Omslagsbild</label>
        <div>
            <label for="spoties-cover-upload" role="button">Välj bild</label>
            <div class="cover-image-container" style="display: none;">
                <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#SpotiesModal-Cover-Preview">
                    <img loading="lazy" aria-haspopup="dialog">
                    <span role="button">
                        {% render 'icon-zoom' %}
                    </span>
                </modal-opener>
                <button id="remove-cover" title="Ta bort bild">{% render 'icon-close' %}</button>
            </div>
        </div>
        <spoties-option-errors></spoties-option-errors>
    </div>
    <modal-dialog id="SpotiesModal-Cover-Edit" class="product-popup-modal">
        <div role="dialog" aria-label="Redigering av omslagsbild" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
            <button id="ModalClose-Spoties-Cover-Edit" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-checkmark' %}</button>
            <div>
                <img loading="lazy">
            </div>
        </div>
    </modal-dialog>
    <modal-dialog id="SpotiesModal-Cover-Preview" class="product-popup-modal">
        <div role="dialog" aria-label="Förhandsvisning av omslagsbild" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
            <button id="ModalClose-Spoties-Cover-Preview" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
            <div>
                <img loading="lazy">
            </div>
        </div>
    </modal-dialog>
</spoties-cover-field>